 body {
     margin: 0;
     padding: 16px;
     background-color: transparent;
 }


 * {
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .nav-container {
     overflow: hidden;
     overflow-x: auto;
 }

 .navbar {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgb(77, 39, 215);
     padding: 10px 40px;
     border-radius: 40px;
     box-shadow: 0px 0px 40px rgb(104, 109, 173);
     margin-top: 5px;
     margin-bottom: 10px;
     width: fit-content;
 }

 .text {
     font-weight: 800;
     display: flex;
     gap: 5px;
     align-items: center;
     color: bisque;
 }

 .bar {
     width: 4px;
     height: 20px;
     border-radius: 1px;
     display: inline-block;
 }

 .content {
     display: flex;
     justify-content: space-around;
     align-items: center;
     gap: 15px;
 }

 .nav-links {
     display: flex;
     justify-content: center;
     align-items: center;
     list-style-type: none;
     gap: 10px;
 }

.navbar ul {
     width: fit-content;
     padding: 20px;
     list-style-type: none;
 }

 .nav-it {
     text-decoration: none;
     color: bisque;
 }


 .dropdown-list {
     color: black;
     display: flex;
     justify-content: center;
     align-items: center;

 }

 .navbar .fa {
     font-size: 10px;
 }

 .list-drop {
     display: none;
     color: orangered;
     background-color: black;
     position: fixed;
     list-style-type: none;
 }

 .drop-toggle:hover .list-drop {
     display: block;
     margin-top: 60px;
 }

 a:hover {
     font-weight: 1000;
     text-decoration: none;
     color: black;
 }

 a {
     text-decoration: none;
 }

 a:active {
     color: black;  
 }

.navbar a:visited {
     color: deeppink;
     /* background-color: darkgray; */
 }